<ul class="nav navbar-nav">
	<li><%= link_to "My lists", lists_path %></li>
	<li><%= link_to "Public Lists", public_lists_path %></li>
	<li><%= link_to "Bookmark Lists", bookmarks_lists_path %></li>
</ul>